* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
	border: none;
}

html {
  scroll-behavior: smooth;
}


.wm { /*withmargin*/
	margin: 8px;
	padding: 0;
	box-sizing: border-box;
}

.gbpry { /*gradient blue pink red yellow*/
	background: linear-gradient(to right, blue, #ff00ff, red, yellow);
	width: 100%;
	height: 75px;
}

#hpb { /*homepagebutton*/
	position: relative;
	left: 50px;
	top: 50px;
	width: 75px;
	height: 75px;
	transform: translate(-50%,-50%);
	transition: width 500ms ease-in-out, height 500ms ease-in-out;
	user-select: none;
}

#hpb:hover {
	width: 100px;
	height: 100px;
	transition: width 500ms ease-in-out, height 500ms ease-in-out;
}

@keyframes ex {
	100% {
		width: 100px;
		height: 100px;
	}
}

@keyframes im {
	100% {
		width: 75px;
		height: 75px;
	}
}

#em { /*estudai maluco*/
	color: white;
	user-select: none;
	position: absolute;
	left: 50%;
	top: 50px;
	font-size: 30px;
	transform: translate(-50%, -50%);
	text-shadow:
		-2px -2px 0 black,
		2px -2px 0 black,
		-2px 2px 0 black,
		2px 2px 0 black,
		0px 0px 4px black;
}

.pagina {
	display: flex;
	position: relative;
	flex-direction: column;
	background-color: white;
	width: 100vw;
	max-width: 800px;
	margin: 50px auto;
	padding: 40px;
	border-radius: 32px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* essa é a sombra */
	font-family: sans-serif;
	aspect-ratio: 1000/1414;
/*	height: 113vw;
	max-height: 1131px;*/
}

.paginad {
	display: block;
	position: relative;
	background-color: white;
	width: 100vw;
	max-width: 800px;
	margin: 50px auto;
	padding: 40px;
	border-radius: 32px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* essa é a sombra */
	font-family: 'Quicksand', sans-serif;
/*	aspect-ratio: 1000/1414;
	height: 113vw;
	max-height: 1131px;*/
}



.qs {
	font-family: 'Quicksand';
	font-size: 20px;
}

.qst { /*quicksand title*/
	font-family: 'Quicksand';
	font-weight: 500;
}

.sectioner {
	display: flex;
	justify-content: center;
	background-color: white;
	width: 100vw;
	height: 50px;
}

.sectioner button {
	/*all: unset;*/
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'Quicksand';
	font-size: 18px;
	background-color: white;
	height: 100%;
	width: 100px;
	justify-content: center;
	transition: background-color 100ms ease-in-out;
}

.sectioner button:hover {
	background-color: #bfbfbf;
	transition: background-color 100ms ease-in-out;
}

.sectioner button:active {
	background-color: #7f7f7f;
	transition: background-color 100ms ease-in-out;
}

.sectionerm button {
	width: 64px;
	font-size: 10px;
	font-weight: 500;
}

.materia {
	display: flex;
	background: white;
	width: 64vw;
	max-width: 200px;
	aspect-ratio: 4 / 3;
	box-shadow: 0 4px 10px black;
	border-radius: 32px;
	padding: 16px 16px;
	margin: 16px 16px;
	font-family: 'Quicksand';
	font-weight: 700;
	font-size: 24px;
	color: white;
	justify-content: center;
	align-items: center;
	transform-origin: center center;
	user-select: none;
	transition: transform 250ms ease-in-out;
	text-align: center;
}

.materiam {
	max-width: 100px;
	box-shadow: 0 2px 5px black;
	border-radius: 16px;
	font-size: 16px;
}

materia:hover {
	transform: scale(1.2);
	transition: transform 250ms ease-in-out;
	cursor: pointer;
}

lll {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #bfbfbf;
	margin: 8px 0;
}

.bazinga a {
	text-decoration: none;
}

.capitulo {
	border: none;
	display: flex;
	width: 100%;
	height: 50px;
	background-color: #fff;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 20px 20px;
	font-family: 'Quicksand';
	font-weight: 600;
	font-size: 16px;
	user-select: none;
	cursor: pointer;
	color: black;
	transition: background-color 100ms ease-in-out;
}

.capitulo:hover {
	background-color: #bfbfbf;
	transition: background-color 100ms ease-in-out;
}

.capitulo:active {
	background-color: #7f7f7f;
	transition: background-color 100ms ease-in-out;
}

.obj {
	border: none;
	display: flex;
	width: 100%;
	height: 50px;
	background-color: #fff;
	text-align: right;
	justify-content: right;
	align-items: center;
	padding: 20px 20px;
	font-family: 'Quicksand';
	font-weight: 600;
	font-size: 16px;
	user-select: none;
	cursor: pointer;
	color: black;
	transition: background-color 100ms ease-in-out;
}

.obj:hover {
	background-color: #bfbfbf;
	transition: background-color 100ms ease-in-out;
}

.obj:active {
	background-color: #7f7f7f;
	transition: background-color 100ms ease-in-out;
}

#chaps {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-end;
	left: -340px;
}

.fixed {
	position: fixed;
	top: 50px;
}

.fixed2 {
	position: fixed;
	top: 10px;
}

.absolute2 {
	position: absolute;
	top: 160px;
}

.absolute {
	position: absolute;
	top: 200px;
}

#menu {
	background: none;
	width: 20px;
	height: 20px;
	left: 10px;
	cursor: pointer;
	z-index: 10;
}

.rquiz {
	position: absolute;
	height: 50px;
	width: calc(clamp(0px,50vw,400px) - 42px);
	cursor: pointer;
	pointer-events: auto;
	color: white;
	font-family: 'Quicksand';
	font-weight: 700;
	font-size: 20px;
}

.ssph { /*superspecificplaceholder*/
	width: calc(clamp(0px,100vw,800px) - 80px);
	height: 124px;
}

#rquiz1 {
	left: 40px;
	bottom: 94px;
	background-color: hsl(0, 70%, 50%);
	transition: background-color 100ms ease-in-out;
}

#rquiz1:hover {
	background-color: hsl(0, 100%, 50%);
	transition: background-color 100ms ease-in-out;
}

#rquiz1:active {
	background-color: hsl(0, 50%, 50%);
	transition: background-color 100ms ease-in-out;
}

#rquiz2 {
	right: 40px;
	bottom: 94px;
	background-color: hsl(120,70%,50%);
	transition: background-color 100ms ease-in-out;
}

#rquiz2:hover {
	background-color: hsl(120,100%,50%);
	transition: background-color 100ms ease-in-out;
}

#rquiz2:active {
	background-color: hsl(120, 50%, 50%);
	transition: background-color 100ms ease-in-out;
}

#rquiz3 {
	left: 40px;
	bottom: 40px;
	background-color: hsl(240,70%,50%);
	transition: background-color 100ms ease-in-out;
}

#rquiz3:hover {
	background-color: hsl(240,100%,50%);
	transition: background-color 100ms ease-in-out;
}

#rquiz3:active {
	background-color: hsl(240, 50%, 50%);
	transition: background-color 100ms ease-in-out;
}

#rquiz4 {
	right: 40px;
	bottom: 40px;
	background-color: hsl(60,70%,50%);
	transition: background-color 100ms ease-in-out;
}

#rquiz4:hover {
	background-color: hsl(60,100%,50%);
	transition: background-color 100ms ease-in-out;
}

#rquiz4:active {
	background-color: hsl(60, 50%, 50%);
	transition: background-color 100ms ease-in-out;
}

@keyframes anim1 {
	from {
		left: 0;
	}
	to {
		left: -340px;
	}
}

@keyframes anim2 {
	from {
		left: 330px;
	}
	
	to {
		left: 10px;
	}
}

@keyframes anim1r {
	from {
		left: -340px;
	}
	to {
		left: -0;
	}
}

@keyframes anim2r {
	from {
		left: 10px;
	}
	
	to {
		left: 330px;
	}
}

.anim1 {
	animation: anim1 500ms ease-in-out forwards;
}

.anim2 {
	animation: anim2 500ms ease-in-out forwards;
}

.anim1r {
	animation: anim1r 500ms ease-in-out forwards;
}

.anim2r {
	animation: anim2r 500ms ease-in-out forwards;
}
